extends layout
block content
  .container-fluid
    .row: .col-md-12
      h1.section-title Datos abiertos
      #main-container: .row
        #sidebar.col-md-3.col-sm-3
          include includes/filter-collapsible

        #content.col-md-9.col-sm-9
          include includes/search-form
          .row: .col-md-12: #datasets-container
            each item in datasets
              .dataset-item
                .col-md-10.col-sm-10.col-xs-12
                  h3
                    span.tag-icon(class=item.tag_icon)
                    a(href=item.tag_link)= item.title
                  p= item.text
                .col-md-2.col-sm-2.col-xs-12
                  .dependency
                    strong
                      a(href=item.institution_link)
                        = item.institution
                  .dataset-format-container
                    span.dataset-format(data-format=item.doc_type)= item.doc_type

          section.module
            .module-content
              small
                | Usted también puede acceder a este registro utilizando los 
                a(href='/busca/packages?ver=%2F3') API
                |  (ver 
                a(href='http://docs.ckan.org/en/ckan-2.7.3/api/index.html') API Docs
                | ).